<div class="main-width">
    <h2 style="font-weight: bolder;"> 1. Interpolación</h2>

    <!--------------------------------->
    <!-- Ejemplo Boton de incremento -->
    <!--------------------------------->
    <br>
    <h5>En angular, la Interpolación permite mostrar datos que han sido guardados en la clase. </h5>
    <h5>Utiliza la sintaxis de doble llave, dentro se escribe el nombre de la variable:</h5><h5 style="color: rgb(0, 110, 255);"> {{ interpolacion }} </h5>
    <br>
    <br>
    <h5>Se define una variable del tipo number en la clase </h5> <h5 style="color: rgb(255, 0, 221);"> InterpolacionComponent </h5> <h5> de el archivo </h5> <h5 style="color: rgb(69, 153, 0);">interpolacion.component.ts </h5>

        <figure class=figura>
            <img class="img1" src="./assets/Picture3.png" alt="">
        </figure>

    <h5> El valor de esta variable se mostrará en el HTML de la aplicación, haciendo uso de las dobles llaves:</h5><h5 style="color: rgb(0, 110, 255);"> {{ interpolacion }} </h5>
    
        <figure class="figura">
            <img class="img2" src="./assets/Picture4.png" alt="">
        </figure>

    <h4 style="font-weight: bolder;"> Ejemplo Práctico </h4>
        <figure class="figura">
            <img class="img3" src="./assets/Picture5.png" alt="">
        </figure>
</div>
