<div class="main-width">
    <h2 style="font-weight: bolder;"> 2. Interfaces</h2>

    <br>
    <h5>En angular se define una interfaz para establecer la forma que debe tener un objeto. </h5>
    <br>
    <h5>Se especifican los nombres y los tipos de valores: string, bool, number, etc.</h5><h5 style="color: rgb(0, 110, 255);"></h5>
    <br>
    <br>
    <h5>Se crea un archivo nuevo de tipo TypeScript (.ts), en el cual definir la interfaz. Su sintaxis es la siguiente:</h5>
    <br>

        <figure class=figura>
            <img class="img1" src="./assets/Picture6.png" alt="">
        </figure>

    <h5> Con esta interfaz, se definen los tipos de datos del objeto: </h5><h5 style="color: rgb(0, 110, 255);">persona.</h5>
    
        <figure class="figura">
            <img class="img2" src="./assets/Picture7.png" alt="">
        </figure>

    <h5> Para llamar a estos objetos, se deberá hacer uso de las llaves dobles: </h5><h5 style="color: rgb(0, 110, 255);">{{ interpolacion }}</h5> <h5>, Añadiendo el nombre de la variable y el objeto a llamar:</h5>
        <figure class="figura">
            <img class="img3" src="./assets/Picture8.png" alt="">
        </figure>
    <br>
    <br>
    <h4 style="font-weight: bolder;"> Ejemplo Práctico </h4>
    
    <div class="ejemplo">
        <p>Mi nombre es: {{ persona.nombre }} </p>
        <p>Mi edad es: {{ persona.edad }} </p>
    </div>

</div>


