
<head>
    <!-- Hoja de Estilos de cdnjs para los íconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="container">
    <h1> {{ title }} </h1>
    <hr>

    <!--
    <app-contador></app-contador>

    <app-test></app-test>

    <app-botones></app-botones>

    <app-metodos></app-metodos>



    <app-interpolacion></app-interpolacion>
    <hr>
    <app-interfaces></app-interfaces>
    <hr>
    <app-metodos></app-metodos>
    <hr>
    <app-class-binding></app-class-binding>
    <hr>
    <app-property-binding></app-property-binding>
    <hr>
    <app-variables-plantilla></app-variables-plantilla>
    <hr>
    <app-directivas></app-directivas>
    <hr>
    <app-directiva-ng-for></app-directiva-ng-for>
    <hr>
    <app-directiva-switch></app-directiva-switch>
    <hr>
    <app-form-plantilla></app-form-plantilla>
    <hr>
    <app-validaciones></app-validaciones>
    -->

    <app-estados></app-estados>


</div>



