<div class="card">
    <div class="card-body">
        <form (ngSubmit)="enviar_formulario()" #formContact="ngForm">

            <div>
                <label class="form-label">
                    Nombre:
                </label>

                <input type="text" name="nombre" class="form-control" placeholder="Ingrese un nombre" [(ngModel)]="persona.nombre" required #name="ngModel">
            
                <div class="alert alert-danger mt-2" [hidden]="name.valid == true || name.pristine">
                    El nombre es obligatorio
                </div>

            </div>

            <div>
                <label class="form-label">
                    Edad:
                </label>

                <input type="text" name="edad" class="form-control" placeholder="Ingrese su edad" [(ngModel)]="persona.edad" required #edad="ngModel">
            
                <div class="alert alert-danger mt-2" [hidden]="edad.valid == true || edad.pristine">
                    La edad es obligatoria
                </div>
            
            </div>

            <button class="btn btn-primary mt-2" [disabled]="formContact.invalid">
                Enviar
            </button>

        </form>
    </div>
</div>

{{ formContact.valid }}